/* input部分被设置了padding 超出了100%的宽度 为了解决这个问题用border-box */
*, *::before, *::after {
    box-sizing: border-box;    
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
}

/* =================
    Typography 
   ================= */

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    text-shadow: 0 2px #816fca;
    /* text-shadow: horizan vertical blur color */
}

h2 {
    font-size: 2.25rem; /* 32px */
    margin: 0.167em 0;
}

.beta-text { 
    font-weight: 900;
    text-transform: uppercase;
}

.subheading {
    color: #575757;
    font-weight: 900;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

p {
    font-size: 1.125rem;
    line-height: 1.35;
    
}

.fine-print {
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #858585;
}

.beta-text,
.top-text,
.subheading {
    text-transform: uppercase;
}

.top-text {
    font-size: 0.875rem;
    font-weight: 900;
    padding-top: 0.25em;
    border-top: 5px solid;
    order: -1;
    margin: 0 auto;
}

/* =================
    Intro
   ================= */


.intro { 
    color: #fff;
    background-color: #9480e4;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    text-align: center;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;

    /* background: #9480e4 url("images/intro-bg.png"); */
    background-image: url("images/intro-bg.png");
    background-size: cover;

    padding-bottom: 1.5em;
}

/* ====================
    Main content
   ==================== */

.main-content {
    /* padding: 40px 32px auto 32px; */
    /* padding: 2.5em 2em auto 2em; */
    padding-top: 2.5em;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

.img-main {
    width: 120px;
    border-radius: 50%;
}

.main-content p,
form {
    max-width: 450px;
}

/* =================
    Form
   ================= */
input {
    /* 让form的input字体保持统一 */
    font-size: inherit;
    width: 100%;
    margin-bottom: 0.75em;
    padding: 0.5em;
    border: 2px solid #d1d5db;
    border-radius: 5px;
}   

input:focus {
    /* 取代默认focus边框 */
    outline: none;
    border-color: #8a71ec;
    background-color: #e6e8ec;
}

.btn {
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    font-family: inherit;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #8a71ec;
    padding: 1em;
    /* 增大字距间隔 */
    letter-spacing: 1px;
    margin-top: 1em;
    /* 把cursor转换成pointer 当放在btn上时 */
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background-color: #b7a7f6;
}

/* =================
    Media queries 
   ================= */

   @media (min-width: 576px) {
    body {
        display: flex;
    }
    .intro, .main-content {
        /* width: 50%; */
        /* flex-basis: 50%; */

        /* force the flex grow evenly */
        flex: 1;
    }

    .intro {
        /* 确保占据整个窗口高度 */
        min-height: 100vh;
    }

    .main-content {
        justify-content: center;
        padding-top: 0px;
    }

    h1 {
        /* 让标题大小更适应宽度 */
        font-size: 5vw; 
        /* 53px 3.25rem */
    }

    h2 {
        font-size: 2.625rem;
        /* 42px */
    }

    .beta-text {
        font-size: 1.25rem;
        /* 20px */
    }

}